<%--
  Created by IntelliJ IDEA.
  User: gabri
  Date: 2016-02-14
  Time: 01:33
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html>
<head>
    <title>Title</title>
    <link rel="stylesheet" href="css/style_out.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="header">
        <div class="container">
            <div id="search">
                <h3>You searched for:</h3>
                <%= request.getParameter("name")%>
                <jsp:useBean id="nb" class="beans.SearchBean"/>
                <jsp:setProperty name="nb" property="name" value="<%= request.getParameter("name")%>"/>
            </div>
            <div id="result">
                <h4>Result:</h4>
                <jsp:getProperty name="nb" property="name"/>
            </div>
        </div>
    </div>
        
    <!-- Original .jsp Code
    
    <h4>You searched for:</h4>
    <%= request.getParameter("name")%>
    <jsp:useBean id="nb" class="beans.SearchBean" />
    <jsp:setProperty name="nb" property="name" value="<%= request.getParameter("name")%>" />
    <h3>Result:</h3>
    <jsp:getProperty name="nb" property="name"/>
    
    -->

</body>
</html>
